<h1>Practica 42</h1>

<form [formGroup]="form" (ngSubmit)="save()">
    <div class="content">
        <div class="container">
            <h1>Formulario de Registro</h1>
            <div class="sub">
                <label for="fname">Nombres</label>
            </div>
                <input 
                type="text" 
                id="fname" 
                placeholder="Nombres" 
                class="option" 
                formControlName="nombre"
                [class.is-invalid]="nameNoValid">
                <small class="text-danger" *ngIf="nameNoValid">
                    Ingrese mas de 3 letras
                </small>
                <small class="text-danger" *ngIf="nombreNoZaida">
                    El nombre de Zaida tiene una multa
                </small>
                <small class="text-danger" *ngIf="nombreNoEveneser">
                    El nombre de Eveneser tiene una multa
                </small>
                    
                    

            <div class="sub">
                <label for="flastName">Apellidos</label>
            </div>
                <input 
                type="text" 
                id="flastName"
                placeholder="Apellidos" 
                class="option" 
                formControlName="apellido"
                [class.is-invalid]="lastnameNoValid">
                <small class="text-danger" *ngIf="lastnameNoValid">
                    Ingrese mas de 3 letras
                </small>


            <div class="sub">
                <label for="edad">Edad</label>
            </div>
                <input 
                type="date"
                id="edad" 
                class="date" 
                formControlName="edad" 
                [class.is-invalid]="edadNoValid">

            <div class="btn">
                <button type="submit" class="btn1" [disabled]="form.invalid">Guardar</button>
                <button type="button" class="btn2" (click)="clean()">Limpiar</button>
            </div>
        </div>
    </div>
</form>

<hr>
<pre>
    Estado del formulario: {{ form.valid }}
    <br>
    Status: {{ form.status }}
</pre>
<pre>
    {{ form.value | json }}
</pre>

